* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #8b8b8b;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myCanvas {
  background: #202020;
}